<div id="aboutUs">
    Мы - студенты первого курса КНИТУ-КАИ группы 4111. Мы разработали этот небольшой проект в рамках конкурса проектов I-TEAM.<br>
    Наши разработчики:<br><br>
    <div class="item">
        <a href="https://vk.com/frgt10ivan">
            <p class="label success new-label"><span class="align">Гаврилов Иван</span></p>
        </a>
    </div>
    <div class="item">
        <a href="https://vk.com/id86929514">
            <p class="label m"><span class="align">Еремеев Максим</span></p>
        </a>
    </div>
    <div class="item">
        <a href="https://vk.com/salamatov_pavel">
            <p class="label s"><span class="align">Саламатов Павел</span></p>
        </a>
    </div>
    <div class="item">
        <a href="https://vk.com/sexy_daniel">
            <p class="label d"><span class="align">Лазарев Данил</span></p>
        </a>
    </div>
</div>